@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  display: block;
  color: black;
}

html {
  font-size: 10px;
  font-family: "Noto Sans TC", sans-serif;
  color: #16355a;
}
@media all and (max-width: 414px) {
  html {
    font-size: 8px;
  }
}

h1 {
  color: white;
  font-family: "Noto Serif TC", serif;
  font-size: 4.8rem;
  font-weight: bold;
  letter-spacing: 1rem;
  line-height: 6.5rem;
}

h2 {
  font-family: "Noto Serif TC", serif;
  font-size: 3.2rem;
  letter-spacing: 0.4rem;
}

h3 {
  font-family: "Noto Serif TC", serif;
  font-size: 2.6rem;
  letter-spacing: 0.45rem;
}

h4 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.1rem;
}

a {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}

.btn {
  display: inline-block;
  background: #fff61c;
  border-radius: 40px;
  text-align: center;
  padding: 10px 30px;
  transition: 0.5s;
  color: #16355a;
  cursor: pointer;
}

.floor_introduction main {
  background-image: url("../../img/floor_introduction_bgi.jpg");
}
.floor_introduction main .wrapper {
  box-sizing: border-box;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
}
.floor_introduction main .wrapper .title {
  width: 410px;
  height: 191px;
  margin: 0 auto;
  background-image: url("../../img/floor_introduction_title.png");
  overflow: hidden;
}
.floor_introduction main .wrapper .title h2 {
  position: relative;
  top: 104px;
  left: 131px;
  color: #26450c;
  font-weight: bold;
}
.floor_introduction main .wrapper ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 200px;
}
@media all and (max-width: 414px) {
  .floor_introduction main .wrapper ul {
    flex-direction: column;
  }
}
.floor_introduction main .wrapper ul li {
  flex: 0 0 50%;
  margin-top: 25px;
}
.floor_introduction main .wrapper ul li img {
  display: block;
  width: 70%;
  margin: auto;
}
.floor_introduction main .wrapper ul li h4 {
  text-align: center;
  margin-top: -20px;
}
.floor_introduction main .wrapper ul li p {
  text-align: center;
  margin-top: 10px;
}

.about main .banner {
  background-image: url(../../img/about_banner.jpg);
  height: 660px;
  background-size: cover;
}
.about main .banner h1 {
  padding-top: 300px;
  letter-spacing: 0.235rem;
}
.about .wrapper h1 {
  color: #16355A;
}
.about .wrapper .top {
  background-image: url(../../img/about_bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.about .wrapper .top .img1 {
  width: 30%;
}
.about .wrapper .top .img2 {
  width: 45%;
}
.about .wrapper .mid {
  background-color: #97cbe0;
}
.about .wrapper .mid .img3 {
  width: 40%;
}
.about .wrapper .mid ul {
  width: 25%;
  background-color: white;
}
.about .wrapper .mid ul img {
  width: 100%;
}

body.ticket main .wrapper {
  box-sizing: border-box;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
body.ticket table {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  border-collapse: separate;
  border-spacing: 0;
  margin: 2rem auto;
  background: white;
  font-size: 1.6rem;
}
body.ticket table thead {
  background-color: #97cbe0;
  font-weight: bold;
}
body.ticket table tr td:first-child {
  background-color: #97cbe0;
  font-weight: bold;
}
body.ticket table th,
body.ticket table td {
  text-align: center;
  border: 2px solid #97cbe0;
  padding: 2.5rem 4rem;
}
body.ticket .year {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body.ticket .year table {
  margin: 2rem;
}
body.ticket .year table td:nth-child(2) {
  padding-left: 10rem;
  padding-right: 10rem;
}
body.ticket .group td:not(:nth-child(1)) {
  padding-left: 8rem;
  padding-right: 8rem;
}
body.ticket .notice {
  border: 1px solid black;
  padding: 2rem;
  margin: 5rem;
}
body.ticket ul {
  margin-left: 3rem;
}
body.ticket ul li {
  list-style: disc;
  font-size: 1.6rem;
  line-height: 4rem;
}
body.ticket a {
  font-weight: bold;
}
@media all and (max-width: 414px) {
  body.ticket table {
    width: 80%;
    box-shadow: none;
  }
  body.ticket table thead {
    display: none;
  }
  body.ticket table th,
  body.ticket table td {
    padding: 0.5em;
  }
  body.ticket table td:before {
    position: absolute;
    left: 0.5em;
    font-weight: bold;
  }
  body.ticket table.day td:nth-child(2):before {
    content: "日間票";
  }
  body.ticket table.day td:nth-child(3):before {
    content: "星光票";
  }
  body.ticket .year {
    flex-direction: column;
  }
  body.ticket table tr,
  body.ticket table td {
    display: block;
  }
  body.ticket table tr {
    position: relative;
    margin-bottom: 1em;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }
  body.ticket table td {
    border-top: none;
  }
}

/*# sourceMappingURL=style.css.map */
