.about {
    main{
        
    
        .banner{
            background-image: url(../../img/about_banner.jpg);
            height: 660px;
            background-size: cover;
            h1{padding-top: 300px;};
            
           
        }
    }
    .wrapper{
        h1{color: #16355A;}
        .top{
           background-color: #97cbe0;
            background-image: url(../../img/about_bg.png);
            background-size: 100%;
            background-repeat: no-repeat;
            .content{
                width: 50%;
                margin-left: 150px;
                
                h2{
                    margin-top: 80px;
                    margin-bottom: 30px;
                    font-weight: bold;
                }
                h3{
                    margin-bottom: 20px;
                    font-weight: bold;
                }
                h4{
                    line-height: 3.5rem;
                }
            }
            .img1{
                width: 30%;
                float: left;
            }
            .img2{
                width: 40%;
                
                
            }
        }
        .mid{
            background-color: #97cbe0,;
            .content1{
                width: 50%;
                margin-left: 250px;
                h3{
                    margin-bottom: 20px;
                    font-weight: bold;
                }
                h4{
                    line-height: 3.5rem;
                }

            }
            .img3{
                width:40%;
                float: right;
            }
            ul{
                width: 25%;
                // background-color: white;
                // display: flex;
                li{
                    background-image: url(../../img/about_link_bg.png);
                    img{
                        width: 100%;
                    }
                    a{
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        background-color:#fff61c;
                        p{
                            color:#16355a ;
                        }
                    }
                }

            }
        }

    }
}
