// @keyframes bg {
//     0% {
//         d: path("M413.149 0.0128992C487.538 0.526942 555.037 20.2894 621.207 43.1677C699.705 70.3084 801.561 88.5254 831.047 144.501C860.567 200.541 801.166 258.746 763.017 312.374C729.735 359.162 682.285 397.556 625.883 432.914C561.261 473.425 501.24 527.441 413.149 531.705C323.688 536.035 247.494 491.922 176.956 454.642C108.915 418.682 44.073 377.79 17.2081 322.448C-9.6821 267.054 -4.81364 205.45 30.103 152.122C63.0426 101.813 131.605 68.2101 201.963 40.2706C266.556 14.6206 338.152 -0.505343 413.149 0.0128992Z")
//     }

//     33% {
//         d: path("M416.131 0.243097C504.088 2.20466 594.673 14.966 660.495 52.3777C723.292 88.0705 733.804 145.125 760.663 196.068C787.911 247.748 835.925 298.053 818.15 351.398C799.545 407.234 741.949 458.506 663.986 486.205C589.836 512.55 500.871 492.194 416.131 494.229C326.731 496.375 226.304 532.521 154.394 498.44C82.4425 464.34 110.426 391.622 84.0543 336.846C58.2761 283.302 -12.2045 236.856 1.82997 181.552C16.6145 123.291 82.9789 74.4994 159.08 41.1955C233.807 8.49315 325.675 -1.77419 416.131 0.243097Z")
//     }

//     66% {
//         d: path("M427.013 10.8695C502.867 17.1844 577.086 28.608 638.743 58.0213C700.183 87.3312 748.502 127.492 770.796 174.871C792.835 221.708 782.233 271.061 761.111 318.077C739.401 366.402 705.432 411.666 648.944 446.101C586.484 484.177 512.423 525.649 427.013 521.744C342.505 517.88 296.576 457.895 226.656 426.795C153.678 394.334 41.8186 389.187 8.98797 335.807C-23.8856 282.357 41.9153 226.668 69.9936 172.074C97.7682 118.072 99.9149 51.6326 171.849 19.1522C243.551 -13.2234 340.423 3.66089 427.013 10.8695Z")
//     }

//     100% {
//         d: path("M413.149 0.0128992C487.538 0.526942 555.037 20.2894 621.207 43.1677C699.705 70.3084 801.561 88.5254 831.047 144.501C860.567 200.541 801.166 258.746 763.017 312.374C729.735 359.162 682.285 397.556 625.883 432.914C561.261 473.425 501.24 527.441 413.149 531.705C323.688 536.035 247.494 491.922 176.956 454.642C108.915 418.682 44.073 377.79 17.2081 322.448C-9.6821 267.054 -4.81364 205.45 30.103 152.122C63.0426 101.813 131.605 68.2101 201.963 40.2706C266.556 14.6206 338.152 -0.505343 413.149 0.0128992Z")
//     }
// }

// @keyframes mb {
//     0% {
//         d: path("M142.728 9.46621C175.35 0.704602 211.836 -10.2807 239.328 19.2885C267.06 49.1157 272.788 108.745 282.678 159.989C292.426 210.493 307.103 263.436 296.062 313.247C285.118 362.617 252.227 386.338 225.736 416.866C199.452 447.156 175.044 491.747 142.728 489.947C110.627 488.16 87.6315 442.472 63.7937 407.849C42.5475 376.99 22.9358 344.065 12.6893 301.073C2.00723 256.255 -5.38852 206.148 4.99509 161.148C15.2086 116.885 42.8113 92.2381 67.0328 65.5636C90.5304 39.6863 114.638 17.0105 142.728 9.46621Z")
//     }

//     33% {
//         d: path("M160.892 0.971032C194.359 3.81242 228.075 16.4329 253.701 49.303C278.298 80.8521 290.583 128.323 297.457 176.138C303.8 220.248 297.012 263.724 290.884 307.904C283.928 358.043 284.263 415.379 259.46 450.048C233.81 485.902 195.696 491.76 160.892 489.609C127.137 487.523 95.6226 467.749 67.9744 438.216C39.9405 408.27 13.2336 371.415 3.47702 321.46C-6.16057 272.115 6.28226 221.33 15.9825 172.013C25.9349 121.414 32.8099 65.253 60.2388 32.8777C87.996 0.11491 125.815 -2.00705 160.892 0.971032Z")
//     }

//     66% {
//         d: path("M160.738 6.32273C193.705 -2.5317 231.248 -7.04838 257.626 27.4861C283.836 61.8012 286.172 125.196 293.299 179.877C299.708 229.056 302.824 277.859 296.678 327.134C289.893 381.538 284.155 444.861 256.486 475.023C229.003 504.983 193.227 481.831 160.738 475.322C132.485 469.663 105.363 462.089 80.1917 439.706C51.2001 413.927 17.939 388.928 5.80077 337.552C-6.55337 285.262 2.47786 224.309 17.4084 173.971C31.0247 128.064 58.9309 103.379 83.9307 74.1373C108.275 45.6624 131.488 14.1788 160.738 6.32273Z")
//     }

//     100% {
//         d: path("M142.728 9.46621C175.35 0.704602 211.836 -10.2807 239.328 19.2885C267.06 49.1157 272.788 108.745 282.678 159.989C292.426 210.493 307.103 263.436 296.062 313.247C285.118 362.617 252.227 386.338 225.736 416.866C199.452 447.156 175.044 491.747 142.728 489.947C110.627 488.16 87.6315 442.472 63.7937 407.849C42.5475 376.99 22.9358 344.065 12.6893 301.073C2.00723 256.255 -5.38852 206.148 4.99509 161.148C15.2086 116.885 42.8113 92.2381 67.0328 65.5636C90.5304 39.6863 114.638 17.0105 142.728 9.46621Z")
//     }
// }

.getpet {
    width: 100vw;
    height: 100vh;
    position: relative;
    
    main {
        width: 900px;
        height: 600px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: map-get($color, bgc2);
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile{
            width: 100%;
            height: 80%;
        }
        
        .bg{
            background-color: white;
            width: 839px;
            height: 532px;
            
            clip-path: url(#pet);
            display: flex;
            justify-content: center;
            align-items: center;

            @include mobile{
                width: 300px;
                height: 490px;
                clip-path: url(#pet2);
            }

            .container {
                @include mobile{
                    width: 70%;
                    margin: 0 auto;
                }
                h2 {
                    text-align: center;
                    margin-bottom: 10px;
                }

                img {
                    width: 100%;
                }
            }
        }
        
        svg {
            #pet path {

                animation: bg 10s linear infinite;

            }

            #pet2 path {

                animation: mb 10s linear infinite;

            }

        }

    }
}