.index {

    .index_logo_video {
        position: relative;

        img {
            z-index: 999;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 180px;
            transform: translate(-50%, -50%);
        }
    }

    @include wrapper {

        // 海生館介紹
        .intro_text {
            text-align: center;
            margin-top: 100px;

            h4 {
                margin-bottom: 30px;
                letter-spacing: 10px;
            }

            h1 {
                font-family: Noto Sans TC;
                color: map-get($color, text);
                font-weight: 400;
                margin-bottom: 30px;
                letter-spacing: 12px;
            }

            p {
                margin: 0 auto;
                margin-bottom: 30px;
                max-width: 600px;
                width: 50%;
            }
        }
    }

    // 連結到園區介紹按鈕
    .index_park_button_all {

        ul {
            margin-top: 100px;
            display: flex;
            flex-wrap: wrap;

            li {
                width: 50%;

                a {
                    display: flex; // 做一次垂直對齊消除空隙
                    overflow: hidden;
                }

                img {
                    width: 100%;
                    transform: scale(1, 1);
                    transition: all .5s ease;

                    &:hover {
                        transform: scale(1.1, 1.1);

                        // &::before{
                        //     content: "";
                        //     width: 100%;
                        //     background-image: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(255, 174, 174) 100%);
                        // }
                    }
                }

                // RWD
                @include mobile() {

                    ul {
                        // flex-direction: column;

                        li {
                            width: 100%;

                            a {
                                width: 100vw;
                            }
                        }
                    }
                }
            }
        }
    }

    @include wrapper {

        // 活動行程
        .index_journey {
            margin-top: 100px;
            text-align: center;

            h2 {
                // font-family: Noto Sans TC;
                // font-size: 20px;
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                li {
                    width: 440px;

                    .index_journey_content {
                        margin-top: 40px;
                        background-color: map-get($color, bgc1);
                        border-radius: 20px;

                        a {
                            display: flex;
                            justify-content: space-between;

                            img {
                                width: 40%;
                                padding: 20px;
                            }

                            .index_journey_content_sub {
                                text-align: left;
                                margin-top: 50px;

                                h4 {
                                    font-size: 16px;
                                    line-height: 1.6;
                                }

                                p {
                                    font-size: 12px;
                                    margin-top: 20px;
                                    padding-right: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .index_button {
            .btn {
                display: block;
                width: fit-content;
                margin: 100px auto 0;
            }
        }

    }

    .index_colorblock {
        // background-color: map-get($color, bgc2);

        .index_path {
            margin-top: 100px;
            max-width: 80%;
            clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 61% 80%, 61% 100%, 0 100%);
            box-shadow: 10px 50px 50px black;
        }
    }

    .index_news {
        @include wrapper {

            h2 {
                margin-top: 100px;
                text-align: center;
            }

            ul {
                // display: flex;
                margin-top: 50px;
            }

            li {
                position: relative;
                display: flex;

                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    border: 1px dashed map-get($color, text);
                }

                &:last-child::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    border: 1px dashed map-get($color, text);
                    bottom: 0;
                }

                img {
                    margin: 30px 0;
                }

                .index_news_content {
                    margin-top: 50px;
                    margin-left: 40px;

                    h3 {
                        font-family: Noto Sans TC;
                        font-size: 16px;
                        margin-bottom: 20px;
                    }

                    h4 {
                        font-size: 18px;
                        font-weight: bold;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }


    .index_ad {
        height: 200px;
        background-color: map-get($color, bgc2);
        max-width: 100%;
        margin-top: 100px;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;

        img {
            border-radius: 10px;
            max-width: 600px;
            width: 200px;
        }
    }
}