.member{
    main{
        display: flex;
        .left{
            width: 16%;
            background-color: map-get($color , bgc1 );

            .photo{
                width: 170px;
                height: 170px;
                margin: 0 auto;
                margin-top: 300px;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    
                    
                }
            }
            .name{
                margin-top: 15px;
                text-align: center;
                margin-bottom: 35px;
            }
            .btn{
                display: block;
                margin: 0 auto;
                margin-bottom: 60px;
                border: 0;
                background-color: map-get($color , bgc2 );
                p{
                    font-family: "Noto Sans TC", sans-serif;
                }
            }

            .list{
                text-align: center;
                width: 100%;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                i{
                    font-size: 66px;
                    margin-bottom: 20px;
                }
                p{
                    
                }
            }

            .-on{
                background-color: #fff;
            }
        }

        .right{
            width: 84%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include wrapper;

            .profile{
                display: none;

                
            }

            .order{

            }

            .coupon{

            }

            .pet{
                display: none;
                
                height: fit-content;
                h3{
                    text-align: left;
                    margin-bottom: 10px;
                    span{}
                }
                p{
                    text-align: left;
                }

                .area{
                    margin-top: 60px;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .fish{
                        width: 30%;
                        height: fit-content;
                        margin-bottom: 50px;

                        input{
                            appearance: none;
                        }
                        label{
                            text-align: center;
                            .container{
                                width: 90%;
                                height: 250px;
                                margin: 0 auto;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                
                                img{
                                    width: fit-content;
                                    height: fit-content;

                                }

                            }
                            
                            .name{
                                text-align: center;
                                margin-bottom: 20px;
                            }

                            .point{
                                text-align: center;
                            }
                        }
                    }

                    .-chose{
                        background-image: url(../../img/member_bg.png);
                        background-size: contain;
                        background-position: center center;
                        background-repeat: no-repeat;
                    }

                    .button{
                        width: 100%;
                        .btn{
                            display: block;
                            width: fit-content;
                            border: 0;
                            margin: 0 auto;
                            margin-top: 20px;
                            p{
                                font-family: "Noto Sans TC", sans-serif;
                            }
                        }
                    }
                    

                }
            }

            .-on{
                display: block;
            }
        }
    }
}