.member_mobile {
    .photo {
        width: 170px;
        height: 170px;
        margin: 0 auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;


        }
    }

    .name {
        margin-top: 15px;
        text-align: center;
        margin-bottom: 35px;
    }

    .btn1 {
        display: block;
        margin: 0 auto;
        margin-bottom: 60px;
        border: 0;
        background-color: map-get($color, bgc2);
        width: fit-content;

        p {
            font-family: "Noto Sans TC", sans-serif;
            margin: 0;
        }
    }

    .bottom {
        position: relative;
        max-width: 340px;
        margin: 0 auto;

        .list {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 150px;
            height: 150px;

            i {
                font-size: 50px;
            }

            p {}
        }

        .list1 {
            position: absolute;
            background-image: url(../../img/member_mobile_bg3.png);
            background-repeat: no-repeat;
            background-size: contain;
            top: 0;
            left: 5px;
        }

        .list2 {
            position: absolute;
            background-image: url(../../img/member_mobile_bg2.png);
            background-repeat: no-repeat;
            background-size: contain;
            right: 0;
            top: 16px;
        }

        .list3 {
            position: absolute;
            background-image: url(../../img/member_mobile_bg1.png);
            background-repeat: no-repeat;
            background-size: contain;
            top: 164px;
            left: 65px;
            width: 160px;
            height: 160px;
        
        }
    }
}