.register {
    width: 100vw;
    height: 100vh;
    position: relative;

    .fork {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }

    main {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        width: 828px;
        height: 567px;
        margin: auto;
        display: flex;

        @include mobile {
            width: 414px;
        }


        .left {
            background-image: url(../../img/login_bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 414px;
            position: relative;

            @include mobile {
                display: none;
            }

            .pic1 {
                width: 172px;
                height: 172px;
                background-image: url(../../img/login_bobble1.jpg);
                background-position-x: -30px;
                clip-path: url(#bobble1);
            }

            .pic2 {
                position: absolute;
                right: 0;
                top: 0;
                width: 115px;
                height: 140px;
                background-image: url(../../img/login_bobble2.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                clip-path: url(#bobble2);
            }

            .pic3 {
                position: absolute;
                left: 80px;
                top: 146px;
                width: 332px;
                height: 250px;
                background-image: url(../../img/index_button2.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position-x: -50px;
                clip-path: url(#bobble3);
            }

            .pic4 {
                position: absolute;
                left: 0;
                bottom: 10px;
                width: 147px;
                height: 157px;
                background-image: url(../../img/login_bobble4.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                clip-path: url(#bobble4);
            }

            .pic5 {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 223px;
                height: 170px;
                background-image: url(../../img/login_bobble5.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                clip-path: url(#bobble5);

            }
        }

        svg {
            #bobble1 path {
                animation: bobble1 15s linear infinite;
            }

            #bobble2 path {
                animation: bobble2 10s linear infinite;
            }

            #bobble3 path {
                animation: bobble3 15s linear infinite;
            }

            #bobble4 path {
                animation: bobble4 10s linear infinite;
            }

            #bobble5 path {
                animation: bobble5 10s linear infinite;
            }
        }

        .right {
            width: 414px;
            padding: 50px 40px;
            box-sizing: border-box;

            @include mobile{
                width: 90%;
            }

            h3 {
                text-align: center;
                margin-bottom: 7px;
                font-family: "Noto Serif TC", serif;
                font-size: 2.6rem;
                letter-spacing: 0.45rem;
            }

            .top {
                form {
                    .input {
                        position: relative;

                        #name {
                            background-image: url(../../img/register_name.svg);
                        }

                        #email {
                            background-image: url(../../img/login_email.svg);
                        }

                        #password {
                            background-image: url(../../img/login_password.svg);
                        }

                        .eye {
                            position: absolute;
                            right: 5px;
                            bottom: 8px;
                            cursor: pointer;
                        }
                    }

                    .btn1 {
                        h4 {
                            margin-bottom: 0;
                            font-size: 2rem;
                            letter-spacing: 0.2rem;
                        }

                    }


                }

                p {
                    margin-top: 5px;
                    font-size: 1.6rem;
                    line-height: 1.6;
                    letter-spacing: 0.1rem;
                }
            }


        }
    }

}