.member {
    main {
        display: flex;

        @include mobile {
            flex-direction: column;
        }

        .left {
            width: 16%;
            background-color: map-get($color, bgc1);
            padding: 300px 0;

            @include mobile {
                width: 100%;
                background-color: white;
                padding: 0;
                padding-top: 160px;
            }



            .photo {
                width: 170px;
                height: 170px;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;


                }
            }

            .name {
                margin-top: 15px;
                text-align: center;
                margin-bottom: 35px;
            }

            .btn1 {
                display: block;
                margin: 0 auto;
                margin-bottom: 60px;
                border: 0;
                background-color: map-get($color, bgc2);
                width: fit-content;

                @include mobile{
                    margin-bottom: 40px;
                }

                p {
                    font-family: "Noto Sans TC", sans-serif;
                    margin: 0;
                }
            }

            .manu {

                @include mobile{
                    display: flex;
                }

                a {
                    text-decoration: none;

                    @include mobile {
                        width: calc( 100% / 3 );
                        background-color: map-get($color, bgc2);
                    }

                    .list {
                        text-align: center;
                        width: 100%;
                        height: 130px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        @include mobile {
                            height: fit-content;
                            padding: 10px 0;
                        }

                        img {
                            height: 50px;
                            margin-bottom: 10px;
                            @include mobile {
                                height: 30px;
                                margin-bottom: 5px;
                            }
                        }

                        p {
                            color: map-get($color, text);
                            font-size: 1.6rem;
                            line-height: 1.6;
                            letter-spacing: 0.1rem;
                        }
                    }

                    
                }

                .router-link-active {
                    background-color: #fff;
                }
            }


        }

        .right_view {
            width: 84%;
            margin-top: 370px;
            margin-bottom: 300px;

            @include mobile {
                margin-top: 0;
                width: 100%;
            }

            @include wrapper {
                @include mobile {
                    width: 100%;
                    height: fit-content;
                }
            }







        }
    }
}