.stores{
    //header
    //kv
    .banner{
        background-image: url(/img/product_kv.png);
        width: 100%;
        height: 944px;
        h1{
            color: #fff;
            width: fit-content;
            margin-left: auto;
            margin-right: 80px;
            padding-top: 614px;
        }
    }
    //Main Block 
    main{
        @include wrapper{
            max-width: 1200px;
        }
        .navigation{
            border-bottom: 5px solid map-get($color, bgc2 );
            margin: 100px auto;
            h2{
                padding-bottom: 16px
            }
        }
        .product_content{
            @include flex;
            justify-content: space-between;
            margin-bottom: 80px;
            //商品篩選區塊
            .product_filter{
                width: 20%;
                height: fit-content;
                border: 4px solid map-get($color, bgc2 );
                div{
                    width: 90%;
                    height: 96%;
                    margin: 2% auto;
                    border: 4px solid map-get($color, warning );
                    ul{
                        margin-left: 30px;
                        li{
                            margin-top: 50px;
                            ul{
                                margin-top: 20px;
                                margin-left: 0;
                                li{
                                    margin-top: 10px;
                                }
                            }
                        }
                        .filterByType{
                            margin-bottom: 50px;
                        }

                    }
                }
            }
        

            //商品例區塊
            .product_list{
                width: 75%;
                @include flex;

                //商品
                li{
                    width: 272px;
                    height: 369px;
                    background-color: map-get($color, bgc1 );
                    margin-bottom: 85px;
                    margin-right: 28px;
                   .product_info{
                        box-sizing: border-box;
                        width: 272px;
                        height: 369px;
                        
                        img{
                            width: 240px;
                            height: 210px;
                            margin-left: 16px;
                            margin-top: 16px;
                        }
                        p{
                            margin-left: 18px
                        };
                        .product_name{
                            margin-top: 20px;
                        }
                    
                        .addToCartBtn{
                            margin: 10px 64px 0;
                        }
                    }
                }
            }
        }

        // 頁碼
        .page_list{
            text-align: center;
            ul{
                @include flex;
                justify-content: center;
                li{
                    margin-right: 30px;
                    a{
                        display: block;
                        width: 20px;
                        height: 20px;
                        font-size: 20px;
                    }

                }
            }
        }
    }
    //Footer
}

