.stores{
    //header
    //kv
    .banner{
        background-image: url(../img/product_kv.png);
        width: 100%;
        height: 944px;
        @include mobile{
            height: 203px;
            width: 100%;
            background-size: cover;
        }
        h1{
            color: #fff;
            width: fit-content;
            margin-left: auto;
            margin-right: 80px;
            padding-top: 614px;
            @include mobile{
                font-size: 26px;
                margin-right: 11px;
                padding-top: 78px;
            }
        }
    }
    //Main Block 
    main{
        @include wrapper{
            max-width: 1200px;
            @include mobile{
                width: 95%;
            }
        }
        .navigation{
            border-bottom: 5px solid map-get($color, bgc2 );
            margin: 100px auto;
            @include mobile{
                margin: 20px auto;
            }
            h2{
                padding-bottom: 16px
            }
        }
        .product_content{
            @include flex;
            justify-content: space-between;
            margin-bottom: 80px;
            @include mobile{
                flex-direction: column;
            }
            //商品篩選區塊
            .product_filter{
                width: 20%;
                height: fit-content;
                border: 4px solid map-get($color, bgc2 );
                @include mobile{
                    width: 95%;
                    border: none;
                    margin: 0 auto;
                }
                div{
                    width: 90%;
                    height: 96%;
                    margin: 2% auto;
                    border: 4px solid map-get($color, warning );
                    @include mobile{
                        border: none;
                    }
                    ul{
                        margin-left: 30px;
                        @include mobile{
                            justify-content: space-between;
                            margin: 0 auto;
                            @include flex;
                        }
                        li{
                            margin-top: 50px;
                            h3{
                                @include mobile{
                                    font-size: 16px;
                                }
                            }
                            ul{
                                margin-top: 20px;
                                margin-left: 0;
                                li{
                                    margin-top: 10px;
<<<<<<< HEAD
                                    &:hover{
                                        color: map-get($color, bgc2 );
                                        cursor: pointer;
                                    }
=======
>>>>>>> anniesu
                                    @include mobile{
                                        display: none;
                                    }
                                }
                            }
                        }
<<<<<<< HEAD
                        .filterByAll{
                            &:hover{
                                color: map-get($color, bgc2 );
                                cursor: pointer;
                            }
                        }
=======
>>>>>>> anniesu
                        .filterByType{
                            margin-bottom: 50px;
                        }

                    }
                }
            }
        

            //商品例區塊
            .product_list{
                width: 75%;
                @include flex;
                @include mobile{
                    width: 95%;
                    margin: 0 auto;
                }

                //商品
                li{
                    width: 272px;
                    height: 369px;
                    background-color: map-get($color, bgc1 );
                    margin-bottom: 85px;
                    margin-right: 28px;
                    @include mobile{
                        width: 312px;
                        margin: 0 calc(50% - 156px);
                        margin-bottom: 50px;
                    }
                   .product_info{
                        box-sizing: border-box;
                        width: 100%;
                        height: 369px;
                        
                        img{
                            width: 240px;
                            height: 210px;
                            margin-left: 16px;
                            margin-top: 16px;
                            @include mobile{
                                margin-left: 36px;
                                margin-right: 36px;
                            }
                        }
                        p{
                            margin-left: 18px;
                            @include mobile{
                                margin-left: 36px;
                            }
                        };
                        .product_name{
                            margin-top: 20px;
                        }
                    
                        .addToCartBtn{
                            margin: 10px 64px 0;
                            @include mobile{
                                margin-left: 90px;
                            }
                        }
                    }
                }
            }
        }

        // 頁碼
        .page_list{
            text-align: center;
            ul{
                @include flex;
                justify-content: center;
                li{
                    margin-right: 30px;
                    a{
                        display: block;
                        width: 20px;
                        height: 20px;
                        font-size: 20px;
                    }

                }
            }
        }
    }
    //Footer
}

