header {


    .content{
        width: 100%;
        height: 128px;
        background-color: #003f7cf2;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        overflow-x: hidden;
        @include mobile{
            height: 80px;
        }
        

        .logo {
            img {
                width: 30%;
                margin-left: 30px;
                padding-top: 10px;
                @include mobile{
                    width: 40%;
                    margin-left: 10px;
                    padding-top: 10px;
                }
            }
        }

        nav {
            display: flex;
            flex-direction: column;
         

            .icon {
                display: flex;
                flex-direction: row-reverse;
                margin-top: 20px;
                margin-right: 20px;
                @include mobile{
                    margin-right: 5px;
                }
                
                i{
                    display: none;
                    @include mobile{
                        display: block;
                        font-size: 30px;
                        font-weight: bold;
                        color: white;
                    }
                }

                li {
                    margin-right: 20px;

                    @include mobile{
                        margin-right: 10px;
                    }
                    button {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        border-style: none;
                        border-color: #fff;
                        background-color: #fff;
                        color: #16355a;
                        
                        @include mobile{
                            height: 30px;
                            width: 30px;
                        }
                    }
                    a{
                       .icons{
                        width: 70%;
                        @include mobile{
                            width: 65%;  
                        }
                       }
                    }
                    
                }

            }

            .menu {
                display: flex;
                flex-direction: row;
                margin-top: 20px;
                @include mobile{
                    margin: 0;
                }

                li {
                    margin-right: 40px;
                    @include mobile{
                        height: 40px;
                        margin-right: 0px;
                    }

                    p {
                        color: white;
                        letter-spacing: 0.6rem;
                        @include mobile{
                            line-height: 40px;
                            text-align: center;
                        }

                    }
                }
                @include mobile{
                    display: none;
                    flex-direction: column;
                    width: 100%;
                    position: fixed;        
                    background-color:#16355a;
                    /* js滑入效果 */
                    right:-500px;
                    top:60px;
                    z-index: 1;
                }
            }
        }
          
    }

    .ocean {
        height: 75px;
        width: 100%;
        position: absolute;
        top:128px;
        left: 0;
        right: 0;
        overflow-x: hidden;
        transform:scaleY(-1);
        @include mobile{
            top:80px;
            height: 46px;
        }
      
      
      .wave {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
        position: absolute;
        width: 200%;
        height: 100%;
        animation: wave 10s -3s linear infinite;
        transform: translate3d(0, 0, 0);
        opacity: 0.8;
      }
      
      .wave:nth-of-type(2) {
        bottom: 0;
        animation: wave 18s linear reverse infinite;
        opacity: 0.5;
      }
      
      .wave:nth-of-type(3) {
        bottom: 0;
        animation: wave 20s -1s linear infinite;
        opacity: 0.5;
      }
      
      @keyframes wave {
          0% {transform: translateX(0);}
          50% {transform: translateX(-25%);}
          100% {transform: translateX(-50%);}
      }
    }
}












footer {
    // margin-top: 500px;
    .ocean {
        height: 75px;
        width: 100%;
        position: absolute;
        bottom: 180px;
        left: 0;
        right: 0;
        overflow-x: hidden;
        // transform:scaleY(-1);
      
      
      .wave {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
        position: absolute;
        width: 200%;
        height: 100%;
        animation: wave 10s -3s linear infinite;
        transform: translate3d(0, 0, 0);
        opacity: 0.8;
      }
      
      .wave:nth-of-type(2) {
        bottom: 0;
        animation: wave 18s linear reverse infinite;
        opacity: 0.5;
      }
      
      .wave:nth-of-type(3) {
        bottom: 0;
        animation: wave 20s -1s linear infinite;
        opacity: 0.5;
      }
      
      @keyframes wave {
          0% {transform: translateX(0);}
          50% {transform: translateX(-25%);}
          100% {transform: translateX(-50%);}
      }
    }
    
          
    .content{ 
        background-color:#003f7cf2 ;
        position: absolute;
        bottom: 0;
        left:0;
        right: 0;
        h4 {
            color: white;
            font-size: 18px;
            margin-bottom: 10px;
        }

        p {
            color: white;
            font-size: 14px;
            line-height: 3rem;
        }

    

        nav {
            // background-color: #16355a;
            display: flex;
            justify-content: center;
            height: 180px;
            margin: 0 auto;
            @include mobile{
                position: relative;
            }
            
            div{
                margin: 40px 60px 0px 50px;
                @include mobile{
                    margin: 10px 58px 0px 20px;
                }
                a:hover{
                    
                }
               
            }

            .left{
                h4{
                    position: relative;
                }
                h4::after{
                    content: "";
                    width: 130%;
                    height: 1px;
                    background-color: #fff;
                    position: absolute;
                    left: 0px;
                    bottom: -10px;
                }
                .icon{
                display: flex;
                margin-top: 20px;
                img{
                    width: 65%;
                }
            }}

            .right{
                margin-right: 220px;
            }

            

            

            @include mobile{
                .mid{
                    display: none;
                }
                .right{
                    display: none;
                }
            }

            // text-align:justify;
            .logo {
                flex: 0 0 160px;
                img {
                    width: 100%;
                    z-index: 999;
                    @include mobile{
                        position: absolute;
                        right: 30px;
                        bottom: 50px;  
                        width: 28%;
                    }
                }
            }
        }

    } 
}