// 字體
@mixin title($title) {
  #{$title} {
    @if ($title == h1) {
      color: white;
      font-family: "Noto Serif TC", serif;
      font-size: 4.8rem;
      font-weight: bold;
    } @else if($title == h2) {
      font-family: "Noto Serif TC", serif;
      font-size: 3.2rem;
    } @else if($title == h3) {
      font-family: "Noto Serif TC", serif;
      font-size: 2.6rem;
    } @else if($title == h4) {
      font-size: 2rem;
    } @else if($title == p) {
      font-size: 1.6rem;
      line-height: 1.6;
      letter-spacing: 0.1rem;
    } @else if($title == a) {
      font-size: 1.4rem;
      letter-spacing: 0.2rem;
    }
    @content;
  }
}

// RWD
@mixin mobile() {
  @media all and (max-width: 414px) {
    @content;
  }
}

// 中間區塊規範
@mixin wrapper() {
  .wrapper {
    box-sizing: border-box;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    @content;
  }
}

// flex
@mixin flex() {
  display: flex;
  flex-wrap: wrap;
}
